.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: 'absolute';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.form-modal {
  width: 400px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
  padding: 20px;
  border: '2px solid #000';
}

.form-modal > form > .MuiFormControl-root,
.form-modal > form > .MuiTextField-root {
  width: 100% !important;
  margin: 10px 0;
}

.form-modal > form > button {
  margin-top: 10px;
}